@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  header {
    position: static;

    figure.image-top {
      position: static;
      opacity: 1;

      img {
        width: 80%;
      }
    }

    figure.image-top-scrolling {
      opacity: 0;
    }

  }
}
